@CHARSET "ISO-8859-1";

body{
	/* background: url("../images/bg_body3.jpg"); */
     height: auto;
}

form{
  background: #FFFFFF;  
  width: 800px;
  margin-right: 10%;
  margin-left: 10%;
  border-style: none;
}

p.entete{
	background-color:#FFFFFF;
	margin-bottom: -16px;
}

p.decor{
height:5px;
background-color:#EF0A65;
}


.menu{
    height:20px;
	margin-top: -16px;
    background-color:#880000;
}

div.menu ul{
	padding: 0px;
	margin: 0px;
}

div.menu ul li{
	position: relative;
	list-style: none;
	float: left; 
}

div.menu ul ul{
	position: absolute;
	display: none;
}

div.menu li a{
	display:block; 
	width: 100px;
}

div.menu ul.n1 li.sm:hover ul.n2,
div.menu ul.n2 li.sm:hover ul.n3,
div.menu ul.n3 li.sm:hover ul.n4,
div.menu ul.n4 li.sm:hover ul.n5,
div.menu ul.n5 li.sm:hover ul.n6,
div.menu ul.n6 li.sm:hover ul.n7{
	display: block;
}


div.menu ul.n3, div.menu ul.n4,
div.menu ul.n5, div.menu ul.n6,
div.menu ul.n7{
	top: 10;
	left: 107px;
}

/* Couleur du menu*/

div.menu a{
	color: #FFFFFF;
}

div.menu a:hover{
	color:#FFFFFF;
}

div.menu li{
	background-color: #880000;
}

div.menu li:hover{
	background: #EF0A65;
}

div.menu li.sm:hover{
	color:#FFFFFF;
	cursor:pointer;
	background: #B1074B;
}

.menu .sm:hover a{
	color:#FFFFFF;
}

div.menu li.sm{
	background-color: #880000;
}

div.menu li a { 
    text-decoration: none; 
    padding: 4px;
    padding-bottom: 0px;
    padding-top: 0px; 
    display:block; 
    }
    
input[type="button"],input[type="reset"]{
  width: 87px;
  font-size: 15px;
  background-color:#880000;
  color:#FFFFFF; 

  }
input[type="button"]:hover,input[type="reset"]:hover{
  width: 90px;
  cursor:pointer;
  color:#FFFFFF;
}
    
.pref{
	cursor:pointer;
}

.pref:hover{
	cursor:pointer;
	color:#FFFFFF;
}